@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');


html,
body {
    scroll-behavior: smooth;
    color: black;
    /* margin: 0; */
    /* height: 100%; */
    /* width: 100%; */
    font-family: 'Lato', sans-serif;
    font-size: medium;
    /* overflow: hidden; */
}

/* .img { */
    /* min-height: 100%; */
    /* min-width: 100%; */
    /* height: auto;
    width: auto; */
    /* position: absolute; */
    /* top: -100%;
    bottom: -100%;
    left: -100%;
    right: -100%;
    margin: auto;
} */

.navbar {
    background: rgba(0, 0, 0, 0.6) !important;
    color: black;
}

.navbar-brand {
    font-family: 'Josefin Sans', sans-serif;
    color: black !important;
    font-weight: 600;
    font-size: 1.5em;
}

.caption {
    /* width: 100%; */
    /* max-width: 100%; */
    /* position: absolute; */
    /* top: 38%; */
    /* z-index: 1; */
    color: white;
}

.caption h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-size: 2.4rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
    padding-bottom: .3rem;
    color: black;
    text-transform: uppercase;
}

.caption h4 {
    font-size: 1.4rem;
    text-shadow: .1rem .1rem .5rem black;
    color: black;
    text-transform: none;
}

/* .search { */
    /* width: 100%; */
    /* position: relative; */
    /* display: flex; */
/* } */

.searchTerm {
    /* width: 40%; */
    border: 3px solid #F46036;
    border-right: none;
    padding: 5px;
    /* height: 36px; */
    border-radius: 5px 0 0 5px;
    outline: none;
    color: #B5CA8D;
    
}

.searchTerm:focus {
    color: #071013;
}

.searchButton {
    width: 40px;
    /* height: 36px; */
    border: 1px solid #F46036;
    background: #F46036;
    text-align: center;
    color: #fff;
    /* border-radius: 0 5px 5px 0; */
    cursor: pointer;
    font-size: 20px;
}
