{% extends 'base.html' %}

{% block content %}

<div class="container-fluid" style="background-image: url('../static/images/background10.jpg'); background-repeat: no-repeat; background-size: cover ;
padding-top: 40vmin;
padding-bottom: 50vmin;">
    <div class="caption text-center">
        <h1>About</h1>
        <p>This website was created for viewing your respective city's weather during a 5 week period.</p>
        <p>It is designed with simplicity you just input your city e.g Nakuru at the search bar in the landing page.</p>
    </div>
{% endblock %}