{% extends 'base.html' %}

{% block content %}


<div class="container-fluid" style="background-image: url('../static/images/background10.jpg'); background-repeat: no-repeat; background-size: cover ;
padding-top: 50vmin;
padding-bottom: 50vmin;">
    <div class="caption text-center">
        <h1>Feedback</h1>
        <p>if your facing challenges kindly press the link below.</p>
        <p><a href="https://github.com/Brayoh-ux/Weather-App/tree/master">Visit our github repo for more detailed info</a></p>
    </div>
{% endblock %}