{% extends 'base.html'%}

{% block content %}

<div class="container-fluid" style="background-image: url('../static/images/background10.jpg'); background-repeat: no-repeat; background-size: cover ;
padding-top: 30vmin;
padding: 30vmin;">
    <!-- <img class="img" src="../static/images/background10.jpg" alt=""> -->
    <div class="caption text-center">
        
        <h1>Weather App</h1>
        <h4>An app that showcases the weather of a particular city's location</h4>
        
        <form action="" method="POST" class="wra search" >
            <input type="text" class="searchTerm " style="width: 50%;" name="city" placeholder="Type your city's location">
            <button type="submit" class="searchButton"><i class="fa fa-search"></i></button>
        </form>

        <br>

        {% for weather in weather_data %}

        <div class="card col w-25 m-2 " style="float: left; display: inline; border-color: blue; margin: 5vmin;">
            <div class="card-image" >
               <h2>
                <img src="http://openweathermap.org/img/w/{{weather.icon}}.png" style="width: 2em;  height: 2em; " alt="">
         
                {{ weather.city}}
               </h2>
           
            </div>
            
            <div class="card_body ml-5">
                <p>{{ weather.description }}</p>
                <p> {{ weather.temperature }} <sup> 0 </sup> Celcius </p>
            </div>
            
            
        </div>
        {% endfor %}
        
        
    </div>
</div>

{% endblock %}